---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout title="foodchain">

    <div class="p-6 mt-12 flex flex-col md:flex-row items-start justify-center max-w-full">

      <!-- Billede fylder helt ud til venstre kant med hover og rundede hjørner -->
      <div class="flex-shrink-0 w-full md:w-1/2">
        <img 
          src="foodchain.webp" 
          alt="HENRIK OLESEN: FOOD CHAIN" 
          class="w-full h-auto rounded-xl" 
        />
        <!-- Tekst under billedet -->
        <p class="text-xs text-left text-neutral-600 mt-2 max-w-xs italic">
Denne udstilling er støttet af: Augustinus Fonden, Det Obelske Familiefond, Glashofs Legat, Statens Kunstfond, Aage og Johanne Louis-Hansens Fond</div>

      <!-- Tekstindhold -->
      <div class="text-center md:text-left max-w-md md:ml-8 mt-6 md:mt-0">
        <h1 class="text-2xl font-bold text-neutral-900 mb-2">HENRIK OLESEN: FOOD CHAIN</h1>

        <!-- streg --->
        <div class="w-80 mx-0 border-b-2 border-black mt-3 mb-4"></div>

        <p class="text-sm leading-relaxed tracking-normal">
        Krokodiller opstod for omkring 200 millioner år siden, og ser man på de krokodiller, der lever i dag, ligner de overraskende meget deres fjerne forfædre. 
        <br><br>Selvom de evolutionært har udviklet sig, er de ikke desto mindre vinduer ind i fortiden og en verden før eller uden mennesker. Olesens krokodiller som fx The earliest Crocodilian, circa 95 million years ago eller American Alligator, circa 83.5 million years ago, er lavet af materialer gips, træ, hønsenet, lærred og bemalet i skinnende grønlige og sorte nuancer. 
        <br><br>De er naturalistiske og kunstige og grove med processuelle spor fra deres fysiske konstruktion og bemaling; ustabile som billeder, på én gang truende og truede. De har i en slumrende vildskab og fart i sig. Fortid og nutid virker kortsluttet, de introducerer en længere tidshorisont og andre affekter end nutidens 24/7-opmærksomhed. 
        Udstillingen af Henrik Olesen består af nye værker samt værker lavet af kunstneren indenfor de seneste år: billeder af råt kød trykt på plastik, afstøbninger af mælkekartoner i epoxy, skulpturelle kasser med silketrykte billeder og tekster, malerier på masonit og lærred, info-tekster og flyers, plancher med fremstillinger af homoseksualitet og afstraffelse gennem 500 års kunsthistorie.
        </p>
      </div>
    </div>

  </MainLayout>
