---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<MainLayout title="koloristerne">

    <div class="p-6 mt-12 flex flex-col md:flex-row items-start justify-center max-w-full">

      <!-- Billede fylder helt ud til venstre kant med hover og rundede hjørner -->
      <div class="flex-shrink-0 w-full md:w-1/2">
        <img 
          src="/public/koloristerne.webp" 
          alt="Koloristerne 2025" 
          class="w-full h-auto rounded-xl" 
        />
        <!-- Tekst under billedet -->
        <p class="text-xs text-left text-neutral-600 mt-2 max-w-xs italic">
        Emilie Alstrup (gæst), Magnus Andersen (gæst), Søren Ankarfeldt, 
        Eli Benveniste, Stine Deja (gæst), Emily Gernild (gæst), Asger Harbou Gjerdevik, Christina Hamre (guest),        </p>
      </div>

      <!-- Tekstindhold -->
      <div class="text-center md:text-left max-w-md md:ml-8 mt-6 md:mt-0">
        <h1 class="text-2xl font-bold text-neutral-900 mb-2">KOLORISTERNE 2025</h1>

        <!-- streg --->
        <div class="w-80 mx-0 border-b-2 border-black mt-3 mb-4"></div>

        <p class="text-sm leading-relaxed tracking-normal">
        Ligesom deres forrige udstillinger vil også Koloristerne 2025 være præget af fornyelse. Fire af de nyeste medlemmer af kunstnersammenslutningen, Ida Kvetny, Asger Harbou Gjerdevik, Maria Wæhrens og Hartmut Stockter, har i fællesskab inviteret en stor gruppe gæsteudstillere, der arbejder med nye tilgange til maleri, skulptur, installation, fotografi, video og digitale medier. Årets udstilling vil præsentere værker af 17 faste medlemmer og 11 gæster. Den ældste kunstner på udstillingen er 97 år og de yngste to er 31 år. 
        På tværs af generationer og medier og med et eksperimenterende og sanselig afsæt er ambitionen for udstillingen at forholde sig til samtidens stadigt mere komplekse verdensbillede. At skabe et rum for undersøgelser og selvstændige kunstneriske markeringer, hvor traditionen udfordres og fornyes. Det er vigtigt for sammenslutningen at formidle og perspektivere udstillingen for publikum. Derfor vil der i løbet af udstillingsperioden afholdes arrangementer med rundvisninger, musik og artist talks. Følg med på Den Fries hjemmeside for nærmere info herom. 
        </p>

      </div>
    </div>

</MainLayout>