---
import MainLayout from "../layouts/MainLayout.astro";
import Card3 from "../components/card3.astro";
---
<MainLayout title="Titel">
  <section class="pt-10 px-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 max-w-screen-xl mx-auto px-4 py-8">

      <!-- Left column -->
      <div class="flex flex-col space-y-6">
        <div class="pb-4">
          <Card3
            url="/form_1"
            cardimage="leo.webp"
            cardimagealt="Kristoffer Akselbo FEAT. Leo"
            cardtitel="Kristoffer Akselbo FEAT. Leo"
            cardtekst="Kristoffer Akselbo performer LEO på udstillingen MAJOR WORKS' sidste åbningsdag"
            cardtekst2="Varighed:"
            cardtekst3="01.06.2025"
            cardtekst4="Tid:"
            cardtekst5="12.00 - 15.00"
            cardbuttontekst="Køb billet →"
            badgenyt="false"
            badgerabat="false"
            badgefaatilbage="false"
            buttonclass="justify-start"
          />
        </div>

        <div class="pb-4">
          <Card3
            url="/form_1"
            cardimage="eva_mag.webp"
            cardimagealt="Trip 1"
            cardtitel="BULLETIN: EVA MAG"
            cardtekst="Éva Mag: At First, I Feel I’ve Got Nothing Otte performere former våd ler og tekstil."
            cardtekst2="Varighed:"
            cardtekst3="01.06.2025"
            cardtekst4="Tid:"
            cardtekst5="14.00 - 18.00"
            cardbuttontekst="Køb billet →"
            badgenyt="false"
            badgerabat="false"
            badgefaatilbage="false"
            buttonclass="justify-start"
          />
        </div>

        <div class="pb-4">
          <Card3
            url="/form_1"
            cardimage="eau_pernice.webp"
            cardimagealt="EAU PERNICE"
            cardtitel="BULLETIN: EAU PERNICE"
            cardtekst="Performanceværket af Eau Pernice Mellemtiden er en instruktionsperformance, der tager publikum med på en guidet tur gennem det offentlige rum."
            cardtekst2="Varighed:"
            cardtekst3="06.06.2025"
            cardtekst4="Tid:"
            cardtekst5="17.00 - 20.00"
            cardbuttontekst="Læs mere →"
            badgenyt="false"
            badgerabat="false"
            badgefaatilbage="false"
            buttonclass="justify-start"
          />
        </div>
      </div>

      <!-- Right column -->
      <div class="flex flex-col space-y-6">
        <div class="pb-4">
          <Card3
            url="/form_1"
            cardimage="senim.webp"
            cardimagealt="SENIM"
            cardtitel="BULLETIN: SENIM NØRREGAARD"
            cardtekst="Seimi Nørregaard inviterer dig, én-til-én, til at iscenesætte dig selv som et kunstværk."
            cardtekst2="Varighed:"
            cardtekst3="05.06.2025"
            cardtekst4="Tid:"
            cardtekst5="14.30 - 18.30"
            cardbuttontekst="Køb billet →"
            badgenyt="false"
            badgerabat="false"
            badgefaatilbage="false"
            buttonclass="justify-start"
          />
        </div>

        <div class="pb-4">
          <Card3
            url="/form_1"
            cardimage="hyphea.webp"
            cardimagealt="Trip 1"
            cardtitel="BULLETIN: BEYOND DARKNESS"
            cardtekst="HYPHEA er en gastronomisk og kunstnerisk oplevelse, der dykker ned i svampenes verden."
            cardtekst2="Varighed:"
            cardtekst3="05.06.2025"
            cardtekst4="Tid:"
            cardtekst5="15.00 - 16.00"
            cardbuttontekst="Læs mere →"
            badgenyt="false"
            badgerabat="false"
            badgefaatilbage="false"
            buttonclass="justify-start"
          />
        </div>

        <div class="pb-4">
          <Card3
            url="/form_1"
            cardimage="rasmus_rohling.webp"
            cardimagealt="RASMUS RØHLING"
            cardtitel="BULLETIN: RASMUS RØHLING"
            cardtekst="Rasmus Røhling’s PERSPECTIVE AS SYMBOLIC FORM. Værket undersøger performativitetens tvetydige betydninger og dens udvidede perspektiver."
            cardtekst2="Varighed:"
            cardtekst3="05.06.2025"
            cardtekst4="Tid:"
            cardtekst5="15.00 - 16.00"
            cardbuttontekst="Læs mere →"
            badgenyt="false"
            badgerabat="false"
            badgefaatilbage="false"
            buttonclass="justify-start"
          />
        </div>
      </div>
    </div>
  </section>
</MainLayout>
