<footer class="w-full text-black mt-10 footer_bg">

  <!-- Indhold midtstillet -->
  <div class="flex flex-col items-center justify-center px-4 py-10 text-center">

    <!-- Billede -->
    <img src="/logo_silhouette.png" alt="Samarbejdspartner logo" width="120" height="120" class="mb-6" />


<!-- Virksomhedsinfo -->
<div class="flex flex-col sm:flex-row sm:space-x-6 space-y-2 sm:space-y-0 text-base mb-1 justify-center text-center font-bold">
  <span>Oslo Plads 1</span>
  <span>2100 København Ø</span>
  <span>info@denfrie.dk</span>
  <span>+45 33 12 28 03</span>
</div>

<!-- Virksomhedsinformationer, handelsbetingelser osv. -->
<div class="max-w-md mx-auto px-4 py-2 text-sm text-black text-center">
  <p class="flex justify-center flex-wrap gap-x-1 gap-y-1 items-center">
    <a href="/" class="hover:underline">Virksomhedsinformationer</a>
    <span class="mx-1">|</span>
    <a href="/" class="hover:underline">Handelsbetingelser</a>
    <span class="mx-1">|</span>
    <a href="/" class="hover:underline">Persondatapolitik</a>
    <span class="mx-1">|</span>
    <a href="/" class="hover:underline">Cookieinformationer</a>
  </p>
</div>



<!-- Sociale medier -->
<div class="flex justify-center items-center py-6 space-x-4 text-black">
  
  <!-- Facebook ikon-billede -->
  <a href="https://www.facebook.com/denfrieudstillingsbygning" target="_blank" rel="noopener noreferrer" aria-label="Facebook" class="w-[28px] h-[28px] block hover:opacity-75">
    <img src="/fb.webp" alt="Facebook ikon" width="28" height="28" class="w-[28px] h-[28px] object-contain" />
  </a>

  <!-- Instagram ikon-billede -->
  <a href="https://www.instagram.com/denfrie.cph" target="_blank" rel="noopener noreferrer" aria-label="Instagram" class="w-[28px] h-[28px] block hover:opacity-75">
    <img src="/insta.webp" alt="Instagram ikon" width="28" height="28" class="w-[28px] h-[28px] object-contain" />
  </a>

</div>

<div>


  <!-- Copyright -->
  <div class="text-center text-xs text-black pb-4">
    Den Frie &copy; 2025 <br> Philip Sørensen & Andreas Lausten
  </div>

</footer>

<style>
  .footer_bg {
    background-image: url('/footer_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
</style>
