---
---
<!-- Navbar (fixed at the top) -->
<div id="navbar" class="navbar absolute top-0 w-full z-50 flex items-center justify-between">
  <div class="flex pl-10">
    <a href="/">
      <img src="/logo.jpg" alt="samarbejdspartner logo" width="150" height="150" />
    </a>
  </div>
  <div class="flex-none text-red-950">
    <ul class="menu-horizontal px-4 flex space-x-4">
      <li><a href="#Udstillinger" class="hover:underline">Udstillinger</a></li>
      <li><a href="#Social" class="hover:underline">Social</a></li>
      <li><a href="#Info" class="hover:underline">Info</a></li>
      <li><a href="#Besøg" class="hover:underline">Besøg</a></li>
    </ul>
  </div>
</div>
